/* CSS for styling purposes */


* {
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 210, 171);
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FF6347;
    font-size: 36px;
}

h3 {
    color: #FF6347;
    font-size: 24px;
}


#sentimentRating,
#eggRating {
    font-weight: bold;
    color: #FF6347;
}

/* Styling for the comments section */
#comments {
    font-style: italic;
    font-weight: bold;
    color: #FF6347;
}


.dino img {
    opacity: 0.5;
    cursor: pointer;
}

.dino img:hover {
opacity: 1.0;
}

.dino.selected img {
    opacity: 1.0;
    cursor: pointer;
}

.egg {
    cursor: pointer;
}


.egg img {
    transition: transform 0.2s ease-in-out;
    width: 5em;
    height: 3em;
    margin-right: 0.01em;
    margin-left: 0.01em;
    margin-bottom: 1em;
}

/* .egg.rated img {
    transform: scale(2);
} */

#comments {
    margin-top: 1em;
}

#submit_button {
    margin-top: 2em;
}

/* @media */
@media (max-width: 900px){
    .egg-rating-container img {
        width: 4em;
        height: 2.4em;
        margin-right: 0.001em;
        margin-left: 0.001em;
        margin-bottom: 1em;
    }

    #comments {
        max-width: 25em;
    }
}
